---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Mi Amigo Anhelado</title>
    <style>
        body {
            font-family: sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem;
            background-color: #fdfdfd;
            color: #333;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a> | 
            <a href="/app-biblia">Biblia</a>
        </nav>
    </header>
    <hr />
    <main>
        <slot /> </main>
    <footer>
        <p>&copy; 2026 Mi Amigo Anhelado</p>
    </footer>
</body>
</html>